.App {
  align-items: center;
  text-align: center;
}

.mappedResults {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 25px;
  place-items: center;

}

.img {
  padding: 15px;
  max-width: 300px;
  max-height: 300px;
}

.deleteButton {
  float: right;
  color: red;
}

.completeButton {
  float: left;
  color: green;
}

.innerMappedResults {
  outline: auto;
  padding: 10px;
}

.filterDiv {
  margin: 20px;
}

.tabs {
  padding: 10px;
  margin-left: 100px;
}

input {
  padding: 2px;
  margin: 5px;
}

.navLinks {
  width: 80px;
  height: 40px;
  padding: 12px;
  margin: 5px;
  background: blue;
  text-decoration: none;
  color: white;
  align-self: center;
}

.completedChore {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 25px;
  place-items: center;
}

.innerCompletedChore {
  outline: auto;
  padding: 10px;
}
