body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.navLinks {
  width: 80px;
  height: 40px;
  padding: 12px;
  margin: 5px;
  background: blue;
  color: white;
  text-decoration: none;
  align-self: center;
}

input {
  padding: 2px;
  margin: 5px;
}

.mappedResults {
  display: flex;
  padding: 25px;
  float: left;
}

.innerMappedResults {
  outline: auto;
  padding: 10px;
}

.img {
  padding: 15px;
  max-width: 300px;
  max-height: 200px;
}

.deleteButton {
  float: right;
  color: red;
}

.completeButton {
  float: left;
  color: green;
}

.filterDiv {
  margin: 20px;
}

.completedChore {
  display: flex;
  padding: 25px;
  float: left;
}

.innerCompletedChore {
  outline: auto;
  padding: 10px;
}